<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new employee</title>
</head>
<body>
<h3>Welcome, Enter The Employee Details</h3>
<form action="addEmployee" method="POST">
    <table>
        <tr>
            <td><label for="id">Employee ID:</label></td>
            <td><input id="id" name="id"/></td>
        </tr>
        <tr>
            <td><label for="name">Employee's name:</label></td>
            <td><input id="name" name="name"/></td>
        </tr>
        <tr>
            <td><label for="contactNumber">Contact's number:</label></td>
            <td><input id="contactNumber" name="contactNumber"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>